<div class="container-fluid">
  <app-header></app-header>

  <div class="row justify-content-center backgroundAuto">
    <div class="col-lg-5">
      <div class="row justify-content-end">
        <div class="col">
          <p class="title">
            <span class="titleB">Transformamos</span> la compra y venta de autos
            semi nuevos
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <p class="subTitle">
            Tenemos más de
            <span class="subTitleB">10,000 autos</span> certificados y
            garantizados
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 pt-2">
          <button class="butonComAuto">Comprar auto</button>
        </div>
        <div class="col-sm-5 pt-2">
          <button class="butonVenAuto">Vende tu auto</button>
        </div>
      </div>
    </div>
    <div class="col-lg-5 text-center">
      <img
        class="positionCar"
        src="../../../../../assets/images/auto.png"
        alt=""
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/Acura.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingRegularIcon">
        <div class="col text-center">
          <p class="textIcon">Acura</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/alfa-romeo.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingRegularIcon">
        <div class="col text-center">
          <p class="textIcon">Alfa Romeo</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/audi.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingIrregularIcon">
        <div class="col text-center">
          <p class="textIcon">Acura</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/Cadillac.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingRegularIcon">
        <div class="col text-center">
          <p class="textIcon">Cadillac</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/Chevrolet.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingIrregularIcon">
        <div class="col text-center">
          <p class="textIcon">Chevrolet</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/dogde.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingRegularIcon">
        <div class="col text-center">
          <p class="textIcon">Dogde</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/Fiat.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingIrregularIconFiat">
        <div class="col text-center">
          <p class="textIcon">Fiat</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center paddingleftSpace">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/ford.svg" alt="" />
        </div>
      </div>
      <div class="row justify-content-center paddingIrregularIconFord">
        <div class="col text-center">
          <p class="textIcon">Ford</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center paddingViewMore">
    <div class="col-md-3 text-center">ver más</div>
  </div>
  <div class="row pt-2">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <p class="textBColor">
        Razones para comprar un auto en
        <span class="textBColorSpan">DRIVU</span>
      </p>
    </div>
  </div>

  <div class="row backCard justify-content-center">
    <div class="col-md-11">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <mat-card class="card">
            <mat-card-content>
              <div class="row justify-content-center">
                <div class="col-lg-3">
                  <div class="row">
                    <div class="col">
                      <img
                        class="iconCard"
                        src="../../../../../assets/images/card1.svg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="titleCard">Certificamos todos nuestros autos</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="textCard">
                        Inspeccionamos 240 puntos y nos aseguramos de que todo
                        esté en regla.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 colCard">
                  <hr />
                </div>

                <div class="col-lg-3">
                  <div class="row">
                    <div class="col">
                      <img
                        class="iconCard2"
                        src="../../../../../assets/images/card2.svg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="titleCard">
                        Reacondicionamos todos nuestros autos
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="textCard">
                        Invertimos hasta $20,000 para convertirlo en un DRIVU.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 colCard">
                  <hr />
                </div>
                <div class="col-lg-3">
                  <div class="row">
                    <div class="col">
                      <img
                        class="iconCard"
                        src="../../../../../assets/images/card3.svg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="titleCard">
                        Reacondicionamos todos nuestros autos
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="textCard">
                        Invertimos hasta $20,000 para convertirlo en un DRIVU.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row justify-content-center betweenCard">
        <div class="col-md-10 text-center">
          <p>Lo que opinan nuestros clientes</p>
        </div>
      </div>
      <div class="row justify-content-center apperCarruselM carousel-list">
        <div class="col apperCarruselM">
          <mat-carousel
            [hideArrows]="false"
            [hideIndicators]="true"
            [useKeyboard]="true"
          >
            <mat-carousel-slide [hideOverlay]="true">
              <div class="row justify-content-center">
                <div class="col-8">
                  <mat-card class="pt-3">
                    <mat-card-content>
                      {{ images[0].text }}
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-carousel-slide>
          </mat-carousel>
        </div>
      </div>

      <div class="row justify-content-center apperCarrusel">
        <div class="col apperCarrusel">
          <mat-carousel
            [hideArrows]="false"
            [hideIndicators]="true"
            [useKeyboard]="true"
          >
            <mat-carousel-slide [hideOverlay]="true">
              <div class="row justify-content-center pt-5">
                <div
                  class="col-3"
                  *ngFor="let image of images | slice: 0:3; let i = index"
                >
                  <div class="row pt-5">
                    <div class="col">
                      <mat-card>
                        <mat-card-content>
                          <div class="row">
                            <div class="col">
                              <p class="text-slider-card"></p>
                              {{ images[i].text }}
                            </div>
                          </div>
                          <div class="row justify-content-between pt-1">
                            <div class="col-9">
                              <div class="row">
                                <div class="col-3">
                                  <img
                                    class="imageSliderCard"
                                    src="{{ images[i].picture }}"
                                  />
                                </div>
                                <div class="col-8 pt-2">
                                  <div class="row">
                                    <div class="col-12">
                                      {{ images[i].nombre }}
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12">
                                      {{ images[i].ciudad }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <img
                                class="start"
                                src="../../../../../assets/images/start.svg"
                              />
                              {{ images[i].rank }}
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </mat-carousel-slide>
            <mat-carousel-slide [hideOverlay]="true">
              <div class="row justify-content-center pt-5">
                <div
                  class="col-3"
                  *ngFor="let image of images | slice: 3:6; let i = index"
                >
                  <div class="row pt-5">
                    <div class="col">
                      <mat-card>
                        <mat-card-content>
                          <div class="row">
                            <div class="col">
                              <p class="text-slider-card"></p>
                              {{ images[i].text }}
                            </div>
                          </div>
                          <div class="row justify-content-between">
                            <div class="col-9">
                              <div class="row">
                                <div class="col-3">
                                  <img
                                    class="imageSliderCard"
                                    src="{{ images[i].picture }}"
                                  />
                                </div>
                                <div class="col-8 pt-2">
                                  <div class="row">
                                    <div class="col-12">
                                      {{ images[i].nombre }}
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12">
                                      {{ images[i].ciudad }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <img
                                class="start"
                                src="../../../../../assets/images/start.svg"
                              />
                              {{ images[i].rank }}
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </mat-carousel-slide>
          </mat-carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4 pt-4 text-center">
      <p class="garantia">Garantía <span class="garantia2">DRIVU</span></p>
    </div>
  </div>
  <div class="row justify-content-center pt-4">
    <div class="col-md-2 colsGaran">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/Garantia.svg" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          <p class="garantiaText">
            Garantía mecanica hasta <strong>$100,000 </strong> Sin limite de
            eventos ni deducibles
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 colsGaran">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../../../../../assets/images/Servicios.svg" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          <p class="garantiaText1">
            <strong>2 servicios</strong> de mantenimiento básico al año
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 colsGaran">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img
            class="garantiaPaddingImage"
            src="../../../../../assets/images/Extiende.svg"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          <p class="garantiaText2">
            Extiende tu garantía por <strong>12 meses más</strong> y disfruta
            <strong>15 en total</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 colsGaran">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img
            class="garantiaPaddingImage2"
            src="../../../../../assets/images/Recurso61.svg"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          <p class="garantiaText2">
            Contrata desde <strong>$650 al mes</strong>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center aplicanTermi">
    <div class="col-md-10 text-center">
      <p>Aplican <a class="colorAplicanTermi">Términos y condiciones</a></p>
    </div>
  </div>

  <div class="row masonryBack justify-content-center">

  </div>
  <div class="row whitemasonryBack  no-gutters justify-content-center">

  </div>
  <app-footer></app-footer>
</div>
