<div class="row justify-content-center backNumber">
  <div class="col-md-12 text-center">
    <p>
      Ventas 888-230-0996 | Servicio al cliente 888-230-0231 | Asesor
      888-212-6993
    </p>
  </div>
</div>

<div class="row justify-content-between paddingMenu">
  <div class="col-md-3 text-center">
    <img class="logo" src="../../../assets/images/Logo_drivu.svg" alt="" />
  </div>

  <div class="col-md-6">
    <div class="row subTitle">
      <div class="col-md-3 text-center"> <a class="redirect" href="">Compra un Auto</a> </div>
      <div class="col-md-3 text-center"> <a class="redirect" href=""> Financiamiento</a></div>
      <div class="col-md-3 text-center"> <a class="redirect" href="">Vende tu auto</a></div>
      <div class="col-md-3 text-center"> <a class="redirect" href="">Nosotros</a></div>
    </div>
  </div>
</div>

<div class="row justify-content-center paddingSerch">
  <div class="col-lg-6 pt-2">
    <input type="text" class="serch" />
  </div>
  <div class="col-lg-2">
    <img src="../../../assets/images/map.svg" alt="" />
    Autos en Mexico
  </div>
</div>
